h1 {
    color: rgba(0,255,255,0.7);
    font-size: 60px;
    text-align: center;
    background: inherit;
}

.header_grey {
    display: flex;
    justify-content: space-between;
    background: #6E7F80;
}

.header_black {
    display: flex;
    justify-content: space-between;
    background: #000;
    margin: 0;
}

.title {
    padding: 0px 0px 0px 700px;
    background: inherit;
}

.button {
    text-align: end;
    padding: 30px 40px 0px 0px;
    background: inherit;
}
